In [1]:
def print1(n):
    for i in range(n):
        for j in range(n):
            print("*", end = " ") #end=" " → prevents going to new line after each star
        print()

n = int(input())
print1(n)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
def print2():
    for i in range(6):
        for j in range(i):
            print("*",end= " ")
        print()
print2()

*
* *
* * *
* * * *
* * * * *

In [10]:
def print3():
    for i in range(1,6):
        for j in range(5-i):
            print( " ",end="")
        for k in range(i):
            print("*", end = "")
        print()
print3()

    *
   **
  ***
 ****
*****

In [13]:
def print4():
    for i in range(1,6):
        for j in range(1,i+1):
            print(j,end=" ")
        print()
print4()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
def print5():
    for i in range(1,6):
        for j in range(1,i+1):
            print(i, end = "")
        print()

print5()

1
22
333
4444
55555

In [16]:
def print6():
    for i in range(5):
        for j in range(5-i):
            print("*",end = " ")
        print()
print6()

* * * * *
* * * *
* * *
* *
*

In [18]:
def print7():
    for i in range(6):
        for j in range(1,6-i):
            print(j,end = " ")
        print()
print7()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [49]:
def print8(n):
    for i in range(n):
        for j in range(n-i-1):
            print("-", end=" ")
        for k in range(2*i +1):
            print("*",end = " ")
        for l in range(n-i-1):
            print("-", end = " ")
        print()

print8(4)

- - - * - - -
- - * * * - -
- * * * * * -
* * * * * * *

In [50]:
def print9(n):
    for i in range(n):
        for j in range(i):
            print("-",end = " ")
        for k in range(2*n-(2*i+1)):
            print("*",end = " ")
        for l in range(i):
            print("-",end = " ")
        print()

print9(4)

* * * * * * *
- * * * * * -
- - * * * - -
- - - * - - -

In [54]:
def print10(n):
    (print8(n))
    (print9(n))

print10(n)

- - - - * - - - -
- - - * * * - - -
- - * * * * * - -
- * * * * * * * -
* * * * * * * * *
* * * * * * * * *
- * * * * * * * -
- - * * * * * - -
- - - * * * - - -
- - - - * - - - -

In [ ]:
def print11(n):
    for i in range(2*n):
        stars = i
        if i>n :
            stars = 2*n-i
        for j in range(stars):
            print("*",end = " ")
        print()

print11(4)

*
* *
* * *
* * * *
* * *
* *
*

In [63]:
def print12(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            if (i+j)%2 == 0 :
                print(1,end = " ")
            else :
                print(0,end = " ")
        print()

print12(5)

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [66]:
def print12(n):
    start = 1 
    for i in range(n):
        if i%2 == 0:
            start = 1
        else : start = 0
        
        for j in range(i+1):
            print(start, end = " ")
            start = 1- start
        
        print()
print12(4)

1
0 1
1 0 1
0 1 0 1

In [72]:
def print13(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(j,end = " ")
        for k in range(1,2*n - 2*i +1):
            print("-",end = " ")
        for l in range(1,i+1):
            print(l,end = " ")
        print()

print13(4)

1 - - - - - - 1
1 2 - - - - 1 2
1 2 3 - - 1 2 3
1 2 3 4 1 2 3 4

In [74]:
def print14(n):
    num = 1
    for i in range(n):
        for j in range(i+1):
            print(num,end = " ")
            num+=1
        print()
print14(5)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [78]:
def print15(n):
    for i in range(n):
        x = 'A'
        for j in range(i+1):
            print(x,end = " ")
            x=chr(ord(x)+1) #You must convert character → ASCII → increment → back to character.
        print()

print15(5)

A
A B
A B C
A B C D
A B C D E

In [82]:
def print16(n):
    for i in range(n):
        for j in range(ord('A'),ord('A')+n-i):
            print(chr(j),end = " ")
        print()
print16(5)

A B C D E
A B C D
A B C
A B
A

In [84]:
def print17(n):
    char = 'A'
    for i in range(n):
        
        for j in range(i+1):
            print(char,end = " ")
        char = chr(ord(char)+1)
        print()

print17(5)

A
B B
C C C
D D D D
E E E E E

In [95]:
def print18(n):
    for i in range(n):
        # spaces
        for j in range(n - i - 1):
            print("-", end=" ")
        
        # characters
        char = 'A'
        mid = (2 * i) // 2

        for k in range(2 * i + 1):
            if k <= mid:
                print(char, end=" ")
                char = chr(ord(char) + 1)
            else:
                char = chr(ord(char) - 2)
                print(char, end=" ")
                char = chr(ord(char) + 1)

        # spaces
        for l in range(n - i - 1):
            print("-", end=" ")
        
        print()

print18(4)

- - - A - - -
- - A B A - -
- A B C B A -
A B C D C B A

In [103]:
def print19(n):
    for i in range(n):
        start_char = chr(ord('A') + n - 1 - i)   # E, D, C, B, A

        for j in range(i + 1):
            print(chr(ord(start_char) + j), end=" ")
        print()

print19(5)

E
D E
C D E
B C D E
A B C D E

In [109]:
def print20_1(n):
    for i in range(n):
        for j in range(n-i):
            print("*",end = " ")
        for k in range(2*i) :
            print("-", end = " ")
        for l in range(n-i):
            print("*",end = " ")
        print()

print20_1(5)

def print20_2(n):
    for i in range(n):
        for j in range(i+1):
            print("*",end = " ")
        for k in range(2*n-(2*i)-2):
            print("-",end = " ")
        for l in range(i+1):
            print("*",end = " ")
        print()

print20_2(5)

* * * * * * * * * *
* * * * - - * * * *
* * * - - - - * * *
* * - - - - - - * *
* - - - - - - - - *
* - - - - - - - - *
* * - - - - - - * *
* * * - - - - * * *
* * * * - - * * * *
* * * * * * * * * *

In [110]:
def print20(n):
    print20_1(n)
    print20_2(n)

print20(5)

* * * * * * * * * *
* * * * - - * * * *
* * * - - - - * * *
* * - - - - - - * *
* - - - - - - - - *
* - - - - - - - - *
* * - - - - - - * *
* * * - - - - * * *
* * * * - - * * * *
* * * * * * * * * *